@charset "UTF-8";

body {
	font-family: 'Nanum Gothic';
}

.movieWrapper {
	line-height: 25.5px;
	padding : 30px;
}

.movieHeadWrapper {
	display: inline-block;
}

.movieHeadWrapper .moviePoster {
	width: 150px;
	float: left;
	display: inline-block;
}

.movieAge {
	width: 32px;
}

.movieName {
	font-size: 32px;
	font-weight: bold;
}

.movieContentsWrapper {
	margin-left: 10px;
	display: inline-block;
}

.movieContentsWrapper div {
	margin: 10px;
}

.corp {
	width: 38px;
	vertical-align: middle;
}

.reviewHeadWrapper {
	display: inline-block;
}

.writer {
	display: inline-block;
	font-weight: bold;
}

.reviewDetail {
	margin: 10px;
	width: 550px;
}

.reviewWrapper {
	margin: 10px;
	border:1px solid;
	padding:20px;
	width:700px;
	border-radius:5px;
}

.created {
	font-size: 12px;
	font-weight: normal;
	margin-left: 10px;
	color: gray;
}

.star {
	float: left; background :
	url(https://ssl.pstatic.net/static/movie/2012/09/sp_star.png) 0 -20px
	no-repeat;
	overflow: hidden;
	height: 12px;
	background:
		url(https://ssl.pstatic.net/static/movie/2012/09/sp_star.png) 0 -20px
		no-repeat;
}

.starOff {
	float: left; overflow : hidden;
	width: 75px;
	height: 12px;
	margin-top: 4px;
	background:
		url(https://ssl.pstatic.net/static/movie/2012/09/sp_star.png)
		no-repeat;
	overflow: hidden;
}

.starRatingWrapper{
	margin-left:10px;
}

.movieAge{
	vertical-align : -4px;
}

.date{
	font-weight : bold;
	font-size : 14px;
}

.audience {
	font-weight : bold;
}

.ticketing{
	font-weight : bold;
}

.naverStarRating{
	font-weight : bold;
}

.daumStarRating{
	font-weight : bold;
}

.audienceNum{
	font-size:20px;
}

.ticketingNum{
	font-size : 20px;
}

.reviewTitle{
	font-size:36px;
	margin-left:30px;
}